/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
 */
body {
	background-color: #3e3e3e;
	max-width: 1000px;
	font-family: Georgia;
	padding: 5px;
	margin-left: auto;
	margin-right: auto;
	/*background: -moz-linear-gradient(top, #a1e048, #0a940f);
  	background: -ms-linear-gradient(top, #a1e048, #0a940f);
  	background: -o-linear-gradient(top, #a1e048, #0a940f);
  	background: -webkit-radial-gradient(center, #a1e048, #0a940f);
  	background: linear-gradient(top, #a1e048, #0a940f);*/
}

h1 {}

nav {
	/*background-color: #2e2e2e;*/
	float: left;
	width: 100%;
	background-color: #005500;
	background: -moz-linear-gradient(top, #a1e048, #0a940f);
  	background: -ms-linear-gradient(top, #a1e048, #0a940f);
  	background: -o-linear-gradient(top, #a1e048, #0a940f);
  	background: -webkit-linear-gradient(top, #a1e048, #0a940f);
  	background: linear-gradient(top, #a1e048, #0a940f);
}

nav ul{
	float: left;
	list-style: none;
	display: inline-block;
}

nav ul li{
	float: left;
}

nav a, a:link {
	text-decoration: none;
	margin: 5px;
	color: white;
}

nav a:hover {
	color: black;
}

header {
	background-color: #263347;
	height: 150px;
	color: #f2f2f2;
	padding: 10px;
	text-align: center;
	border-radius: 10px 10px 0px 0px;
}

#content {
	background-color: #dfdfdf;
	height: 100%;
	padding: 20px;
	margin: 0px;
}

#post {}

footer {
	background-color: #263347;
	color: #f2f2f2;
	height: 100px;
	padding: 10px;
	text-align: center;
	border-radius: 0px 0px 10px 10px;
}
