<!DOCTYPE html>
<html>
	<head>
		<title>Blog</title>
		<%= stylesheet_link_tag    "application" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<header>
			<h1>My Blog Name</h1>
		</header>
			<nav>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/posts/">Posts</a></li>
					<li><a href="/about/">About</a></li>
					<li><a href="/resume/">Resume</a></li>
				</ul>
			</nav>
		<div id="content">
			<%= yield %>
		</div>
		<footer>
			</h1>Some footer text</h1>
		</footer>
	</body>
</html>
